@page "/counter"

<h1>Switch test</h1>


<button class="btn btn-primary" @onclick="(() => IncrementCount(0x00000001))">Green</button>
<button class="btn btn-primary" @onclick="(() => IncrementCount(0x00000002))">Yellow</button>
<button class="btn btn-primary" @onclick="(() => IncrementCount(0x00000004))">White</button>
<button class="btn btn-primary" @onclick="(() => IncrementCount(0x00000008))">Red</button>

@code 
{
    [Inject]
    public StateManagement state { get; set; }

    private int currentCount = 0;

    private async Task IncrementCount(int value)
    {
        await state.PressButton((uint)value);
    }
}
